*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(bg.jpg) no-repeat center center fixed; 
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    gap: 3rem;
}
input{
    padding: 5px;
    width: 350px;
    height: 50px;
    background-color: rgba(230, 230, 231, 0.663);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: none;
   padding: .5rem;
   color: rgba(42, 40, 40, 0.787);
   position: relative;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.card{
    height: 400px;
    width: 300px;
    background-color: rgba(34, 55, 128, 0.06);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 3rem;
   
}
.info{
    width: fit-content;    
    margin-top: 10px;

}
.search{
    position: relative;
}
.autocomplete-list{
    position: absolute;
    top: 49px;
    width: 350px;
    list-style-type: none;
    border-radius: 5px;
    background-color: rgba(230, 230, 231, 0.311);
    padding: unset;
    margin: unset;
}
.autocomplete-list li{   
    padding: 5px;
    border-bottom: 1px solid #99979747;
}
.autocomplete-list button{
    padding: 5px;
    color: #4d4c4c;
    border: unset;
    background: unset;
    cursor: pointer;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-text{
    color: rgba(189, 27, 27, 0.709);
    background-color: rgba(255, 255, 255, 0.485);
    border-radius: 10px;
    padding: 1rem;
}
.card-img{
    height: 100px;
    width: 100px;
    background-color: rgb(155, 17, 17);
    backdrop-filter: blur(20px);
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.card-img img{
    border-radius: 50%;
}
.delete-card{
    position: absolute;
    top: 0;
    right: 3px;
    font-size: 1.5rem;
    color: #6f6f6f;
}
.desc{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.primary-text{
    color: #e3e0e0;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.7px;
}
.secondary-text{
    color: #c0c0c0;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
}
h3{
    color: #c0c0c0d9;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 1px;
}
.min-max-temp{
    color: #d8d5d5;
    margin-left:8px ;
}
.details{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(20px);
    border-radius: 0 0 8px 8px;
    padding: 5px 0;
}

.details>div{
    text-align: center;
}
.details>div:first-child{
    border-right: 2px solid rgba(255,255,255,0.08);
}